body {
    font-family: Poppins, 'sans-serif';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-wrapper {
    flex-grow: 1;
}

h1 {
    text-align: center;
    font-family: Poppins, 'sans-serif';
    margin-top: 2%;
}

#success-message {
    text-align: center;
    color: green;
}

#error-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

body > div {
    margin: 2% auto 2% auto;
    text-align: center;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    width: 75%;
    margin: 2% auto auto;
}

th, td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 1%;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
}
