body {
    font-family: Poppins, 'sans-serif';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-wrapper {
    flex-grow: 1;
}

h1 {
    text-align: left;
    margin: 2% auto 1% 2%;
    color: #1B998B;
}

#page-wrapper > hr {
    margin: 0 2% 2% 2%;
}

#add-ticket {
    text-align: center;
    margin-bottom: 2%;
}

#add-ticket button {
    padding: 1%;
    background-color: #1B998B;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#add-ticket button:hover {
    filter: brightness(110%);
}

#success-message {
    margin: 1% auto 1% auto;
    padding: 1%;
    width: 75%;
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border: solid 1px #c3e6cb;
    border-radius: .25rem;
}

#error-message {
    margin: 1% auto 1% auto;
    padding: 1%;
    width: 75%;
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border: solid 1px #f5c6cb;;
    border-radius: .25rem;
}

#tickets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ticket {
    margin: 2%;
    padding: 2%;
    border: solid 2px black;
    border-radius: 30px;
    background-color: #e9e9e9;
}

#ticket-intro {
    display: flex;
    justify-content: space-between;
}

.ticket-title {
    font-family: Poppins, 'sans-serif';
    font-size: Larger;
    font-weight: bold;
}

.ticket-status {
    font-weight: bold;
}

.ticket-status.open {
    color: cornflowerblue;
}

.ticket-status.resolved {
    color: green;
}

.ticket-status.closed {
    color: red;
}

.ticket-tags {
    margin: 1% auto 1% auto;
}

.tag {
    font-size: x-small;
    margin-right: 1%;
    border-radius: 30px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    padding: 0.5% 1.5% 0.5% 1.5%;
    color: white;
    font-weight: bold;
}

.tag.bug {
    background-color: #EC5800;
}

.tag.suggestion {
    background-color: dodgerblue;
}

.tag.urgent {
    background-color: #D22B2B;
}

.tag.autre {
    color: black;
    background-color: white;
}

.desc {
    font-size: x-large;
    font-weight: bold;
    margin: 2% auto 2% auto;
}

.ticket-description {
    height: 75px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ticket-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.ticket-author {
    display: flex;
    font-size: Small;
    font-weight: bold;
}

.ticket-buttons {
    display: flex;
    justify-content: right;
    width: 40%;
    margin-right: 2%;
}

.ticket-button {
    font-weight: bold;
    margin: auto 2% auto 2%;
    padding: 4% 8% 4% 8%;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: none;
    font-size: small;
}

.ticket-button:hover {
    filter: brightness(110%);
}

.ticket-button.more {
    background-color: #F8F1FF;
    color: black;
}

.ticket-button.modify {
    background-color: #DECDF5;
    color: black;
}
