h1 {
    text-align: center;
    font-family: Poppins, 'sans-serif';
    margin-top: 2%;
}

#success-message {
    text-align: center;
    color: green;
}

#error-message {
    text-align: center;
    color: red;
    font-weight: bold;
}

#search {
    text-align: center;
    margin-top: 2%;
}

#search input {
    width: 25%;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    width: 75%;
    margin: 5% auto auto;
}

th, td {
    border: solid 1px black;
    border-collapse: collapse;
    padding: 1%;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
}

td img {
    width: 30px;
}

.email {
    display: flex;
    align-items: center;
}

.email p {
    margin-left: 5%;
}
